  <script type="text/javascript">
    $('body').css({backgroundColor:"rgb(240, 240, 240)"})
  </script>


    <div class="container toppage tdbpage">
    <div class="row">

  <div class="edit-menu col-md-3">
    <ol class="picking-list list-unstyled">
      <h4>Pickings</h4>
      <li><a  class="pickings-link " alt="informations personnelles">Mes annonces</a></li>
      <li><a  class="renews-link" alt="préférences">Renouvellements auto.</a></li>
      <li><a  class="drivefavoris-link" alt="avatar">Drives favoris</a></li>
    </ol>
    <ol class="demandes-list list-unstyled">
      <h4>Demandes</h4>
      <li><a  class="wdemandes-link" alt="avatar">Demandes en attente</a></li>
      <li><a  class="accdemandes-link" alt="préférences">Demandes acceptées</a></li>
      <li><a  class="rejdemandes-link" alt="certifications">Demandes rejetées</a></li>
    </ol>
    <ol class="validations-list list-unstyled">
      <h4>Paiements et validations</h4>
      <li><a  class="wvalidations-link" alt="moyens de paiement">validations en attente</a></li>
      <li><a  class="validations-link" alt="Porte monnaie">Validations</a></li>
      <li><a  class="wpaiements-link" alt="donations">Paiements en attente</a></li>
      <li><a  class="recpaiements-link" alt="notifications">Paiements reçus</a></li>
    </ol>

  </div>

  <div class="edit-content col-md-9">

    <h1 class="editformtitle col-md-12 text-left grey1">
      Mes Pickings
    </h1>

  <!-- Pickings partials -->
  <%= render "static_pages/tdb_templates/pickings/pickings_form" %>
  <%= render "static_pages/tdb_templates/pickings/routines" %>
  <%= render "static_pages/tdb_templates/pickings/favdrives" %>
  <!-- Demandes partials -->
  <%= render "static_pages/tdb_templates/demandes/wdemandes" %>
  <%= render "static_pages/tdb_templates/demandes/accdemandes" %>
  <%= render "static_pages/tdb_templates/demandes/refdemandes" %>
  <!-- paiement partials -->
  <%= render "static_pages/tdb_templates/paietval/wvalidation" %>
  <%= render "static_pages/tdb_templates/paietval/validation" %>
  <%= render "static_pages/tdb_templates/paietval/wpaiement" %>
  <%= render "static_pages/tdb_templates/paietval/recpaiement" %>





  </div>
  </div>

  </div>
  <script type="text/javascript">

  function removeactiveclasses() {
    $('.edit-menu ol li a').each(function () {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active')
        }
    });
    $('.moving_form').each(function () {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active')
        }
    });
  };
  function addactive(selector){
    $(selector).addClass('active')
  }

  function show(link, form, title){
    {
        removeactiveclasses();
        $('.editformtitle').html(title);
        addactive(link);
        addactive(form)
    }
  }
  // PROFIL ACTIONS
  $('.pickings-link').click(function(){
    show('.pickings-link','.pickings_form',"Mes annonces de livraison")
  });
  $('.renews-link').click(function(){
    show('.renews-link','.routines-bloc',"Annonces renouvellées automatiquement")
  });
  $('.drivefavoris-link').click(function(){
    show('.drivefavoris-link','.favdrives-bloc',"Mes drives favoris")
  });


  // demandes ACTIONS
  $('.wdemandes-link').click(function(){
    show('.wdemandes-link','.wdemandes-bloc',"Demandes en attente")
  });
  $('.accdemandes-link').click(function(){
    show('.accdemandes-link','.accdemandes-bloc',"Demandes acceptées")
  });
  $('.rejdemandes-link').click(function(){
    show('.rejdemandes-link','.rejdemandes-bloc',"Demandes refusées")
  });



  // paiements ACTIONS
  $('.wvalidations-link').click(function(){
    show('.wvalidations-link','.wvalidation-bloc',"Mes validations en attente")
  });
  $('.validations-link').click(function(){
    show('.validations-link','.validation-bloc',"Mes validations")
  });
  $('.wpaiements-link').click(function(){
    show('.wpaiements-link','.wpaiement-bloc',"Mes paiements en attente")
  });
  $('.recpaiements-link').click(function(){
    show('.recpaiements-link','.recpaiement-bloc',"Mes paiements reçus")
  });

  function initSlide(n){

    switch (n){
     case "1":
     show('.renews-link','.routines-bloc',"Annonces renouvellées automatiquement")
        break;
     case "2":
     show('.drivefavoris-link','.favdrives-bloc',"Mes drives favoris")
        break;
     case "3":
     show('.wdemandes-link','.wdemandes-bloc',"Demandes en attente")
        break;
     case "4":
     show('.accdemandes-link','.accdemandes-bloc',"Demandes acceptées")
        break;
     case "5":
     show('.rejdemandes-link','.rejdemandes-bloc',"Demandes refusées")
        break;
     case "6":
     show('.validations-link','.validations-bloc',"Mes avis")
        break;
     case "7":
     show('.wvalidations-link','.wvalidations-bloc',"Mes Amis")
        break;
     case "8":
     show('.wpaiements-link','.wpaiements-bloc',"Liste noire")
        break;
     case "9":
     show('.recpaiements-link','.recpaiements-bloc',"Liste noire")
        break;

     default:
     show('.pickings-link','.pickings_form',"Mes annonces de livraison")
  }
  };
  $(function(){
  <% if @slide != nil %>
  var slide = <%= @slide %>;
  var fromslide = slide.toString();
  initSlide(fromslide);

  <% else %>
  var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
  };
  var slide = getUrlParameter('slide');
  initSlide(slide);
  <% end %>
  });
  </script>


    <div class=" col-md-8 content">
      <div class="row">

      <!-- MODULE DEMANDES -->

      <div class="profil stats col-md-12 bb2 hidden text-center" id="commandesbloc">

        <div class="row">

          <h2>Mes Demandes</h2>

          <div class="col-md-12 lastdemandesbloc text-center">
            <% if @trajetsresas != [] %>
            <ul class="list-unstyled">
              <% @trajetsresas.each do |t| %>
              <li class="recapdemande <%= if t[0].do_at < DateTime.now then " passed" end %>">
                le
                <%= l(t[0].do_at, format:"%A %d %B vers %H:%M")%>, picking de la commande
              <%= if t[2]==1 then t[1].drive1_ref elsif t[2]==2 then t[1].drive2_ref elsif t[2]==3 then t[1].drive3_ref elsif t[2]==4 then t[1].drive4_ref elsif t[2]==5 then t[1].drive5_ref else t[1].drive6_ref end %>
                à
                <%= Shop.find(t[0].shop_id).name %>
                par
                <%= User.find(t[0].driver_id).username %>
                  <% if DateTime.now < (t[0].do_at-2.hours) %>
                 <%= link_to('Annuler', annul_trans_path(trajet_id:t[0].id, user_id:current_user.id), data: { confirm:"En annulant,vous serez remboursé de votre commande moins les frais de la plateforme (0,50€). Êtes vous sûr(e) de vouloir annuler le picking?"}) %>
                 <% end %>
              </li>
              <% end %>
            </ul>
          <% else %>
            <h4>Pas encore de demande de Picking, trouvez votre picker
              <%= link_to('ici', trajetpumds_search_path(), alt:"trouver un picker") %></h4>
            <% end %>
          </div>
        </div>
      </div>

      <% if @user.driver? %>
      <!-- MODULE DEMANDES -->

      <div class="profil stats col-md-12 bb3 hidden text-center" id="driverbloc">

        <div class="row">

          <h2>Mes Validations</h2>
          <div class="col-md-12 waitingvalidations">
            <% if @waitval == nil%>
            <p >
              Pas de validation de picking en attente</p>
          <% else %>
            <h6 >
              <%= @waitval.size %>
              validation<% if @waitval.size > 1 %>s<%end %>
              de picking en attente</h6>
            <% @waitval.each do |valrequest| %>
            <% passager = User.find(valrequest.pass_id) %>
            <p>
              Trajet du
              <%= valrequest.bid_date %>, avec
              <%= passager.prenom %>, code de validation :
              <%= form_for Validation.find(valrequest.id), :method => :PUT do |f| %>

              <%= f.text_field :code_token %>
              <%= f.submit "Valider"%>
              <%end %>

            </p>
            <%end %>
            <%end %>
          </div>
<hr>
          <h2>Mes transactions</h2>

          <div class="col-md-12 lastdemandesbloc text-center">
            <% if @trans.count != 0 %>
            <ul class="list-unstyled">
              <% @trans.each do |t| %>
              <li class="recaptrans">
                <%= l(t.created_at, format:"%A %d %B:")%>
                <%= t.tvalue %>
                € pour:
                <span class="italic"><%= t.comment %></span>
              </li>
              <% end %>
            </ul>
            <% else %>
            <p>Pas encore de demande de Picking,<br>
              déposes une nouvelle annonce de picking
              <%= link_to('ici', new_trajetpumd_path(), alt:"déposer annonce picking") %></p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- MODULE TRAJETS -->

      <div class="profil stats col-md-12 bb4 hidden text-center" id="trajetsbloc">

        <h2>Mes Pickings</h2>

        <div class="col-md-12 lastdemandesbloc text-center">
          <% if @mespickingresas != [] %>
          <ul class="list-unstyled">
            <% @mespickingresas.each do |t| %>
            <li class="recapdemande <%= if t[0].do_at < (DateTime.now + 1.hour) then " passed" end %>">
              le <%= l(t[0].do_at, format:"%A %d %B vers %H:%M")%>, à <%= Shop.find(t[0].shop_id).name %>:
              <% if t[0].do_at > (DateTime.now + 1.hour)%>
              <ul class="list-unstyled list-inline">
                <li><%= link_to(edit_trajetpumd_path(t[0].id), alt:"modifier annonce picking") do %>
                  <i class="fa fa-pencil-square-o">
                <span class=" hidden-xs hidden-sm"> Modifier</span> </i><% end%></li>
                <li><%= link_to(trajetpumd_path(t[0].id), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer l'annonce" }, alt:"supprimer annonce picking") do %>
                  <i class="fa fa-trash">
                  <span class=" hidden-xs hidden-sm">  Supprimer</span> </i><% end%></li>
              </ul>
              <% end%>
              <ul class=" list-unstyled listresas">
                  <% t[1].each do |i| %>
                  <li class="useritem"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> de <%= User.find(i[0]).username  %>, ref: <%= i[1] %>, taille: <%= i[2] %>sacs, substitution: <%= if i[3] then "oui" else "non" end %>
                  </li>
                <% end %>
              </ul>
            </li>
            <hr>
            <% end %>
          </ul>
        <% else %>
          <p>Pas encore de Picking demandé,
            <br>
            déposes une nouvelle annonce de picking
            <%= link_to('ici', new_trajetpumd_path(), alt:"déposer annonce picking") %></p>
          <% end %>
        </div>
      </div>

      <%end%>
    </div>
  </div>

</div>
