  <script type="text/javascript">
    $('body').css({backgroundColor:"rgb(240, 240, 240)"})
  </script>


    <div class="container toppage tdbpage">
    <div class="row">

  <div class="edit-menu col-md-3">
    <ol class="picking-list list-unstyled">
      <h4>Pickings</h4>
      <li><a  class="personal-link active" alt="informations personnelles">Mes annonces</a></li>
      <li><a  class="preferences-link" alt="préférences">Renouvellements auto.</a></li>
      <li><a  class="avatar-link" alt="avatar">Drives favoris</a></li>
    </ol>
    <ol class="demandes-list list-unstyled">
      <h4>Demandes</h4>
      <li><a  class="personal-link active" alt="informations personnelles">Mes demandes</a></li>
      <li><a  class="avatar-link" alt="avatar">Demandes en attente</a></li>
      <li><a  class="preferences-link" alt="préférences">Demandes acceptées</a></li>
      <li><a  class="certifications-link" alt="certifications">Demandes refusées</a></li>
    </ol>
    <ol class="validations-list list-unstyled">
      <h4>Paiements et validations</h4>
      <li><a  class="money-link" alt="Porte monnaie">Validations</a></li>
      <li><a  class="paiements-link" alt="moyens de paiement">validations en attente</a></li>
      <li><a  class="donations-link" alt="donations">Paiements en attente</a></li>
      <li><a  class="notifications-link" alt="notifications">Paiements reçus</a></li>
    </ol>

  </div>

  <div class="edit-content col-md-9">

    <h1 class="editformtitle col-md-12 text-left grey1">
      Mes Pickings
    </h1>

  <!-- Profil partials -->
  <%= render "static_pages/tdb_templates/pickings/pickings_form" %>
  <%= render "users/edit_templates/profil/avatar_form" %>
  <%= render "users/edit_templates/profil/preferences_form" %>
  <%= render "users/edit_templates/profil/certifications_form" %>
  <%= render "users/edit_templates/profil/adresse_form" %>
  <%= render "users/edit_templates/profil/communications_form" %>
  <!-- Account partials -->
  <%= render "users/edit_templates/account/money_form" %>
  <%= render "users/edit_templates/account/paiements_form" %>
  <%= render "users/edit_templates/account/donations_form" %>
  <%= render "users/edit_templates/account/notifications_form" %>
  <%= render "users/edit_templates/account/password_form" %>
  <%= render "users/edit_templates/account/delete_form" %>





  </div>
  </div>

  </div>
  <script type="text/javascript">

  function removeactiveclasses() {
    $('.edit-menu ol li a').each(function () {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active')
        }
    });
    $('.moving_form').each(function () {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active')
        }
    });
  };
  function addactive(selector){
    $(selector).addClass('active')
  }

  // PROFIL ACTIONS
  $('.pickings-link').click(function(){
      removeactiveclasses();
      $('.editformtitle').html("Mes annonces en ligne");
      addactive('.pickings-link');
      addactive('.pickings_form')
  })

  </script>


    <div class=" col-md-8 content">
      <div class="row">

      <!-- MODULE DEMANDES -->

      <div class="profil stats col-md-12 bb2 hidden text-center" id="commandesbloc">

        <div class="row">

          <h2>Mes Demandes</h2>

          <div class="col-md-12 lastdemandesbloc text-center">
            <% if @trajetsresas != [] %>
            <ul class="list-unstyled">
              <% @trajetsresas.each do |t| %>
              <li class="recapdemande <%= if t[0].do_at < DateTime.now then " passed" end %>">
                le
                <%= l(t[0].do_at, format:"%A %d %B vers %H:%M")%>, picking de la commande
              <%= if t[2]==1 then t[1].drive1_ref elsif t[2]==2 then t[1].drive2_ref elsif t[2]==3 then t[1].drive3_ref elsif t[2]==4 then t[1].drive4_ref elsif t[2]==5 then t[1].drive5_ref else t[1].drive6_ref end %>
                à
                <%= Shop.find(t[0].shop_id).name %>
                par
                <%= User.find(t[0].driver_id).username %>
                  <% if DateTime.now < (t[0].do_at-2.hours) %>
                 <%= link_to('Annuler', annul_trans_path(trajet_id:t[0].id, user_id:current_user.id), data: { confirm:"En annulant,vous serez remboursé de votre commande moins les frais de la plateforme (0,50€). Êtes vous sûr(e) de vouloir annuler le picking?"}) %>
                 <% end %>
              </li>
              <% end %>
            </ul>
          <% else %>
            <h4>Pas encore de demande de Picking, trouvez votre picker
              <%= link_to('ici', trajetpumds_search_path(), alt:"trouver un picker") %></h4>
            <% end %>
          </div>
        </div>
      </div>

      <% if @user.driver? %>
      <!-- MODULE DEMANDES -->

      <div class="profil stats col-md-12 bb3 hidden text-center" id="driverbloc">

        <div class="row">

          <h2>Mes Validations</h2>
          <div class="col-md-12 waitingvalidations">
            <% if @waitval == nil%>
            <p >
              Pas de validation de picking en attente</p>
          <% else %>
            <h6 >
              <%= @waitval.size %>
              validation<% if @waitval.size > 1 %>s<%end %>
              de picking en attente</h6>
            <% @waitval.each do |valrequest| %>
            <% passager = User.find(valrequest.pass_id) %>
            <p>
              Trajet du
              <%= valrequest.bid_date %>, avec
              <%= passager.prenom %>, code de validation :
              <%= form_for Validation.find(valrequest.id), :method => :PUT do |f| %>

              <%= f.text_field :code_token %>
              <%= f.submit "Valider"%>
              <%end %>

            </p>
            <%end %>
            <%end %>
          </div>
<hr>
          <h2>Mes transactions</h2>

          <div class="col-md-12 lastdemandesbloc text-center">
            <% if @trans.count != 0 %>
            <ul class="list-unstyled">
              <% @trans.each do |t| %>
              <li class="recaptrans">
                <%= l(t.created_at, format:"%A %d %B:")%>
                <%= t.tvalue %>
                € pour:
                <span class="italic"><%= t.comment %></span>
              </li>
              <% end %>
            </ul>
            <% else %>
            <p>Pas encore de demande de Picking,<br>
              déposes une nouvelle annonce de picking
              <%= link_to('ici', new_trajetpumd_path(), alt:"déposer annonce picking") %></p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- MODULE TRAJETS -->

      <div class="profil stats col-md-12 bb4 hidden text-center" id="trajetsbloc">

        <h2>Mes Pickings</h2>

        <div class="col-md-12 lastdemandesbloc text-center">
          <% if @mespickingresas != [] %>
          <ul class="list-unstyled">
            <% @mespickingresas.each do |t| %>
            <li class="recapdemande <%= if t[0].do_at < (DateTime.now + 1.hour) then " passed" end %>">
              le <%= l(t[0].do_at, format:"%A %d %B vers %H:%M")%>, à <%= Shop.find(t[0].shop_id).name %>:
              <% if t[0].do_at > (DateTime.now + 1.hour)%>
              <ul class="list-unstyled list-inline">
                <li><%= link_to(edit_trajetpumd_path(t[0].id), alt:"modifier annonce picking") do %>
                  <i class="fa fa-pencil-square-o">
                <span class=" hidden-xs hidden-sm"> Modifier</span> </i><% end%></li>
                <li><%= link_to(trajetpumd_path(t[0].id), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer l'annonce" }, alt:"supprimer annonce picking") do %>
                  <i class="fa fa-trash">
                  <span class=" hidden-xs hidden-sm">  Supprimer</span> </i><% end%></li>
              </ul>
              <% end%>
              <ul class=" list-unstyled listresas">
                  <% t[1].each do |i| %>
                  <li class="useritem"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> de <%= User.find(i[0]).username  %>, ref: <%= i[1] %>, taille: <%= i[2] %>sacs, substitution: <%= if i[3] then "oui" else "non" end %>
                  </li>
                <% end %>
              </ul>
            </li>
            <hr>
            <% end %>
          </ul>
        <% else %>
          <p>Pas encore de Picking demandé,
            <br>
            déposes une nouvelle annonce de picking
            <%= link_to('ici', new_trajetpumd_path(), alt:"déposer annonce picking") %></p>
          <% end %>
        </div>
      </div>

      <%end%>
    </div>
  </div>

</div>
