<div class="home-mag text-center container-fluid">
  <ul class="list-unstyled list-inline  home-logo-brand">
    <li class="home-brand-pic"><%= image_tag("auchan-drive-logo2.png", class: "image-responsive" ) %></li>
    <li class="home-brand-pic"><%= image_tag("chronodrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("carrefour drive .png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("eleclercdrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("matchdrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("casinodrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("interdrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("leaderdrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic"><%= image_tag("udrive.png", class: "image-responsive " ) %></li>
  </ul>

</div>
