<div class="home-mag text-center container-fluid hidden-md hidden-lg">
  <ul class="list-unstyled list-inline  home-logo-brand">
    <li class="home-brand-pic" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic"><%= image_tag("auchan-drive-logo2.png", class: "image-responsive" ) %></li>
    <li class="home-brand-pic" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic" data-aos-delay="400"><%= image_tag("carrefour drive .png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic" data-aos-delay="200"><%= image_tag("chronodrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic" data-aos-delay="600"><%= image_tag("eleclercdrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic" data-aos-delay="800"><%= image_tag("interdrive.png", class: "image-responsive " ) %></li>
    <li class="home-brand-pic" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic" data-aos-delay="1200"><%= image_tag("udrive.png", class: "image-responsive " ) %></li>
    <li class="grey1 ect" data-aos="flip-up" data-aos-duration="700" data-aos-easing="ease-in-out-cubic" data-aos-delay="1400">...</li>
  </ul>

</div>
