<div class="home-testimonial-bloc text-center">
  <div class="container">
    <div class="row">


    <h2 class="home-bloc-title">ILS UTILISENT PUMP</h2>
        <hr class="home-bloc-separator">

<div class="col-md-12 hidden-sm hidden-xs">
<ul class="testitemlist list-unstyled list-inline row">
  <li class="testitem col-md-3">
        <div class="row">
              <%= image_tag("homeavatars/avatarh2.jpg", class:"img-responsive img-circle testimage col-md-6 col-md-offset-3") %>

        </div>
        <h5 class="text-center username">Youssef</h5>
        <p class="text-center stats">Tourcoing, 27 ans</p>
        <div class="row">
          <p class="temoignage"><span class="opencitation">"</span>
            Aujourd'hui grace à pump je gagne 3€ dès que je ramène les courses de mes voisins. Je profite de mes trajets habituels pour économiser sur mes frais.
          </p>
        </div>
  </li>
  <li class="testitem col-md-3">
        <div class="row">
              <%= image_tag("homeavatars/avatarf1.jpg", class:"img-responsive img-circle testimage col-md-6 col-md-offset-3") %>

        </div>
        <h5 class="text-center username">Sylvie</h5>
        <p class="text-center stats">Mouvaux, 46 ans</p>
        <div class="row">
          <p class="temoignage"><span class="opencitation">"</span>
            Je ne bouge plus pour faire mes courses. Avec pump, je me les fait livrer à l'heure convenue. C'est beaucoup plus simple et j'ai du temps pour moi et mes petits enfants."
          </p>
        </div>
  </li>
  <li class="testitem col-md-3">
        <div class="row">
              <%= image_tag("homeavatars/avatarf2.jpg", class:"img-responsive img-circle testimage col-md-6 col-md-offset-3") %>

        </div>
        <h5 class="text-center username">Farah</h5>
        <p class="text-center stats">Lille, 34 ans</p>
        <div class="row">
          <p class="temoignage"><span class="opencitation">"</span>
            Le soir je rentre directement chez moi et je me relaxe car je sais que mes courses arrivent. Fini la galère des courses après le boulot et j' économise une heure de nounou à chaque fois.
          </p>
        </div>
  </li>
  <li class="testitem col-md-3">
        <div class="row">
              <%= image_tag("homeavatars/avatarh1.jpg", class:"img-responsive img-circle testimage col-md-6 col-md-offset-3") %>

        </div>
        <h5 class="text-center username">Damien</h5>
        <p class="text-center stats">Villeneuve d'Ascq, 19 ans</p>
        <div class="row">
          <p class="temoignage"><span class="opencitation">"</span>
            Je suis étudiant et une voiture ça coûte cher. Avec pump j'économise sur mes frais et en plus je fais connaissance avec mes voisins de résidence universitaire.
          </p>
        </div>
  </li>

</ul>
</div>




<!-- Responsive caroussel -->
    <div id="carousel-example-generic" class="carousel slide hidden-md hidden-lg" data-ride="carousel">


      <!-- Wrapper for slides -->
      <ul class="carousel-inner list-unstyled" role="listbox">

        <li class="item active testitem ">
              <div class="row">
                <div class="col-xs-3 col-xs-offset-1">

                  <%= image_tag("homeavatars/avatarh2.jpg", class:"img-responsive img-circle testimage col-sx-4") %>

                </div>
              <h5 class="text-center username col-sx-8">Youssef</h5>
              <p class="text-center stats col-sx-8">Tourcoing, 27 ans</p>
            </div>
            <div class="row">
            <div class="temoignage col-xs-10 col-xs-offset-1">

              <p><span class="opencitation">"</span>
                Aujourd'hui grace à pump je gagne 3€ dès que je ramène les courses de mes voisins. Je profite de mes trajets habituels pour économiser sur mes frais.
              </p>
            </div>
              </div>
        </li>
        <li class=" item testitem">
              <div class="row">
                <div class="col-xs-3 col-xs-offset-1">
                    <%= image_tag("homeavatars/avatarf1.jpg", class:"img-responsive img-circle testimage col-sx-4") %>

                  </div>
              <h5 class="text-center username col-sx-8">Sylvie</h5>
              <p class="text-center stats col-sx-8">Mouvaux, 46 ans</p>
            </div>
            <div class="row">
            <div class="temoignage col-xs-10 col-xs-offset-1">
                <p><span class="opencitation">"</span>
                  Je ne bouge plus pour faire mes courses. Avec pump, je me les fait livrer à l'heure convenue. C'est beaucoup plus simple et j'ai du temps pour moi et mes petits enfants."
                </p>
              </div>
              </div>
        </li>
        <li class=" item testitem">
              <div class="row">
                <div class="col-xs-3 col-xs-offset-1">
                    <%= image_tag("homeavatars/avatarf2.jpg", class:"img-responsive img-circle testimage col-sx-2 ") %>

                  </div>
              <h5 class="text-center username col-sx-8">Farah</h5>
              <p class="text-center stats col-sx-8">Lille, 34 ans</p>
            </div>
            <div class="row">
            <div class="temoignage col-xs-10 col-xs-offset-1">
                <p><span class="opencitation">"</span>
                  Le soir je rentre directement chez moi et je me relaxe car je sais que mes courses arrivent. Fini la galère des courses après le boulot et j' économise une heure de nounou à chaque fois.
                </p>
              </div>
              </div>
        </li>
        <li class=" item testitem">
              <div class="row">
                <div class="col-xs-3 col-xs-offset-1">
                    <%= image_tag("homeavatars/avatarh1.jpg", class:"img-responsive img-circle testimage col-sx-4 ") %>

                  </div>
              <h5 class="text-center username col-sx-8">Damien</h5>
              <p class="text-center stats col-sx-8">Villeneuve d'Ascq, 19 ans</p>
            </div>
            <div class="row">
            <div class="temoignage col-xs-10 col-xs-offset-1">
                <p><span class="opencitation">"</span>
                  Je suis étudiant et une voiture ça coûte cher. Avec pump j'économise sur mes frais et en plus je fais connaissance avec mes voisins de résidence universitaire.
                </p>
              </div>
              </div>
        </li>
      </ul>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



  </div>
    </div>
  </div>
  <!-- fixer hauteur caroussel -->
  <script type="text/javascript">
  function hauteurcaroussel() {
    var maxH = 0;
  $('.carousel .item').each(function(){

  var slideH = $(this).innerHeight();
  if (slideH > maxH) {
    maxH=slideH
  }
  console.log(slideH);
});
console.log(maxH);
  $('.carousel').css({height: maxH+20+"px"});
};

  hauteurcaroussel();

  $(window).on('resize',function(){
  hauteurcaroussel();
  });
  </script>
