<script type="text/javascript">
  $('body').css({backgroundColor:"rgb(240, 240, 240)"})
</script>


<div class="container toppage edituserpage">
  <div class="row">

<div class="edit-menu col-md-3">
  <ol class="profil-list list-unstyled">
    <h4>Profil</h4>
    <li><a  class="personal-link" alt="informations personnelles">Infos personnelles</a></li>
    <li><a  class="avatar-link" alt="avatar">Photo</a></li>
    <li><a  class="preferences-link" alt="préférences">Préférences</a></li>
    <li><a  class="certifications-link" alt="certifications">Certifications</a></li>
    <li><a  class="adresse-link" alt="adresse">Adresse</a></li>
    <li><a  class="communications-link" alt="communications">Communications</a></li>
  </ol>
  <ol class="account-list list-unstyled">
    <h4>Compte</h4>
    <li><a  class="money-link" alt="Porte monnaie">Porte-monnaie</a></li>
    <li><a  class="paiements-link" alt="moyens de paiement">Moyens de paiement</a></li>
    <li><a  class="donations-link" alt="donations">Donations</a></li>
    <li><a  class="notifications-link" alt="notifications">Notifications</a></li>
    <li><a  class="password-link" alt="mot de passe">Mot de passe</a></li>
    <li><a  class="delete-link" alt="supprimer compte">Supprimer mon compte</a></li>
  </ol>
</div>

<div class="edit-content col-md-9">

  <h1 class="editformtitle col-md-12 text-left grey1">
    Informations personnelles
  </h1>

<!-- Profil partials -->
<%= render "users/edit_templates/profil/personal_form" %>
<%= render "users/edit_templates/profil/avatar_form" %>
<%= render "users/edit_templates/profil/preferences_form" %>
<%= render "users/edit_templates/profil/certifications_form" %>
<%= render "users/edit_templates/profil/adresse_form" %>
<%= render "users/edit_templates/profil/communications_form" %>
<!-- Account partials -->
<%= render "users/edit_templates/account/money_form" %>
<%= render "users/edit_templates/account/paiements_form" %>
<%= render "users/edit_templates/account/donations_form" %>
<%= render "users/edit_templates/account/notifications_form" %>
<%= render "users/edit_templates/account/password_form" %>
<%= render "users/edit_templates/account/delete_form" %>





</div>
</div>

</div>
<script type="text/javascript">

function removeactiveclasses() {
  $('.edit-menu ol li a').each(function () {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active')
      }
  });
  $('.moving_form').each(function () {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active')
      }
  });
};
function addactive(selector){
  $(selector).addClass('active')
}

function show(link, form, title){
  {
      removeactiveclasses();
      $('.editformtitle').html(title);
      addactive(link);
      addactive(form)
  }
}

// PROFIL ACTIONS
$('.personal-link').click(function(){
  show('.personal-link','.personal_form',"Informations personnelles")
});
$('.avatar-link').click(function(){
  show('.avatar-link','.avatar_form',"Photo de profil")
});
$('.preferences-link').click(function(){
  show('.preferences-link','.preferences_form',"Mes préférences")
});
$('.certifications-link').click(function(){
  show('.certifications-link','.certifications_form',"Certifications")
});
$('.adresse-link').click(function(){
  show('.adresse-link','.adresse_form',"Adresses")
});
$('.communications-link').click(function(){
  show('.communications-link','.communications_form',"Moyens de communication")
});




// ACCOUNT ACTIONS
$('.money-link').click(function(){
  show('.money-link','.money_form',"Porte-monnaie")
});
$('.paiements-link').click(function(){
  show('.paiements-link','.paiements_form',"Modes de paiement")
});
$('.donations-link').click(function(){
  show('.donations-link','.donations_form',"Mes dons")
});
$('.notifications-link').click(function(){
  show('.notifications-link','.notifications_form',"Notifications")
});
$('.password-link').click(function(){
  show('.password-link','.password_form',"Modifier mon mot de passe")
});
$('.delete-link').click(function(){
  show('.delete-link','.delete_form',"Supprimer mon compte")
});

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
function initSlide(){
  var slide = getUrlParameter('slide');
  switch (slide){
   case "1":
      show('.avatar-link','.avatar_form',"Photo de profil")
      break;
   case "2":
      show('.preferences-link','.preferences_form',"Mes préférences")
      break;
   case "3":
      show('.certifications-link','.certifications_form',"Certifications")
      break;
   case "4":
      show('.adresse-link','.adresse_form',"Adresses")
      break;
   case "5":
      show('.communications-link','.communications_form',"Moyens de communication")
      break;
   case "6":
      show('.money-link','.money_form',"Porte-monnaie")
      break;
   case "7":
      show('.paiements-link','.paiements_form',"Modes de paiement")
      break;
   case "8":
      show('.donations-link','.donations_form',"Mes dons")
      break;
   case "9":
      show('.notifications-link','.notifications_form',"Notifications")
      break;
   case "10":
      show('.password-link','.password_form',"Modifier mon mot de passe")
      break;
   case "11":
      show('.delete-link','.delete_form',"Supprimer mon compte")
      break;

   default:
        show('.personal-link','.personal_form',"Informations personnelles")
}
}


initSlide();
</script>
