<script type="text/javascript">
  $('body').css({backgroundColor:"#f4f4f4"})
</script>
<div class="container toppage profiluser">
  <header class="row">

<div class="left-panel col-md-8">


  <div class="usermainpanel row ">
<%= render "users/usermainbloc"  %>
</div>

<% if @user=current_user %>
  <div class=" row text-center userdetails hidden-xs hidden-sm">
    <h4 class="grey1">Mes coordonnées</h4>
    <h5 class="text-center grey2 col-xs-11">Vous seul voyez ces détails...</h5>
    <%= link_to(edit_user_path(@user), :class =>"col-xs-1") do%>
    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
    <% end %>

      <div class="col-md-3">
        <p><%= @user.prenom %></p>
          <p><%= @user.nom %></p>
          <p><%= if @user.gender then "Femme" else "Homme" end%>
        </p>
      </div>
      <div class="col-md-4">
        <p><%= @user.adress %></p>
        <p><%= @user.zipcode %>
          <%= @user.city %>
        </p>
      </div>
      <div class="col-md-5">

          <p>Tel:<%= @user.phone %></p>
          <p>@:<%= @user.email %></p>
          <p>Newsletter: <%= if @user.subscribe then "oui" else "non" end %>
        </p>

      </div>
  </div>
<% end %>



  <div class="row text-center usertrophy">
    <h4 class="grey1">Salle des trophés</h4>
    <%= render partial:"trajetpumds/partials/listtrophys", object: @nextpickings, as: :amis  %>

  </div>

  <div class="row text-center useratings">
    <h4 class="grey1">Avis reçus</h4>
    <%= render partial:"trajetpumds/partials/listfeedbacks", object: @nextpickings, as: :amis  %>

  </div>
</div>



  <!-- Right part -->

<div class="col-md-4 text-center ">
  <div class="userpagenextbids">
    <h4 class="grey1">Prochains pickings de <%= @user.username %></h4>
    <%= render partial:"trajetpumds/partials/listitem", object: @nextpickings, as: :trajets  %>
  </div>
  <!-- changer le format date en "demain..." -->
  <script type="text/javascript">
  $('.pickingitem .delay').each(function() {
  this.textContent = moment(this.textContent,'YYYY-MM-DDTHH:mm').calendar();
  });
  </script>
  <div class="usersdrivesfav">
    <h4 class="grey1">Drives favoris de <%= @user.username %></h4>
    <%= render partial:"trajetpumds/partials/listdrivesfav", object: @nextpickings, as: :amis  %>
  </div>
  <div class="usersfriends">
    <h4 class="grey1">Amis de <%= @user.username %></h4>
    <%= render partial:"trajetpumds/partials/listfriends", object: @nextpickings, as: :amis  %>
  </div>

</div>






  </header>
</div>
