<div class="container toppage oublimdp">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

  <div class="row">
    <h3 class="modaltitle">MODIFIER MOT DE PASSE</h3>

      <div class="data_input col-md-12 text-center">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nouveau Mot de Passe:" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmer nouveau mot de passe:" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Changer mon Mot de Passe", class:"btn-o-purple" %>
  </div>
<% end %>

</div>
<div class="modallinks row grey1">
    <div class="col-md-12 text-right"><em class="grey2">retour à </em>
    <%= link_to "l'accueil", root_path ,class:"active", id:"login-form-link", alt:"retour accueil" %>
    </div>
</div>
</div>
</div>
</div>
</div>
