<h3 class="shopname col-xs-9 grey1 text-left"><%= @trajet.shop.name %></h3>
<div class="shopmini col-xs-3 text-right">
    <%= image_tag(@trajet.shop.brand.minipic, class:"shopminipic", size:"80") %>
</div>
<ol class="details col-sm-9 list-unstyled text-center ">
    <li class="row">
      <div class="col-xs-4 doat">
        <%= @trajet.do_at.strftime("%FT%R")%>
      </div>
      <div class="col-xs-5 circlerest">

        <input type="text" value="<%= @trajet.resapumd.maxsac %>" data-max="<%= @trajet.resapumd.maxsac %>" class="places">
        <p class="text-center">

          nombre de sac pouvant encore être livré
        </p>
      </div>
      <div class="col-xs-3">
        Je monte à l'étage: oui
      </div>
    </li>


</ol>

<script>

    $(document).ready(function () {
        $('.places').css({opacity: 0});
        function initdescompte() {
            $('.places').css({opacity: 1});

            $(".places").knob({
                'readOnly': true,
                'thickness': 0.1,
                'width': 100,
                'height': 80,
                'angleArc': 250,
                'angleOffset': 235,
                change: function (value) {}
            });

            var a = <%= @trajet.resapumd.maxsac %>;
            var b = <%= @placesrestantes %>;
            var c = 0;
            var coef = 255 / a;
            var coef2 = 187 / a;
            function changecercle() {
                if (a < b) {
                    clearInterval(decompte);
                } else {

                    var rouge = Math.round(c * coef);
                    var bleu = Math.round(255 - (c * coef));
                    var vert = Math.round(187 - (c * coef2));
                    var newcolor = "rgb(" + rouge + "," + vert + "," + bleu + ")";
                    clearTimeout(go);
                    $(".places").val(a).trigger("change");
                    $(".places").trigger("configure", {"fgColor": newcolor});
                    $(".places").css({color: newcolor});
                    a = a - 1;
                    c++;
                }
            }
            var decompte = setInterval(changecercle, 50);
        }
        var go = setTimeout(initdescompte, 6000);
    });
</script>
