<script type="text/javascript">
  $('body').css({backgroundColor:"#f4f4f4"})
</script>
<div class="container-fluide toppage trajetshow">
    <div class="headermap">
        <div id="mapcontainer">
            <div id="map"></div>
        </div>
    </div>

</div>
<script type="text/javascript">
  var navH=$('nav').innerHeight();
  $('.toppage.trajetshow').css({marginTop:navH});
</script>



<div class="container trajetshow">
  <div class="row">

<div class="left-panel col-md-8">

  <div class="row text-center trajetdetails">
    <%= render partial:"trajetpumds/partials/trajetdetails", object: @trajet  %>

  </div>

  <!-- hide md lg -->
  <h4 class="row blocresaheader hidden-md hidden-lg">
    <span class="col-xs-6 text-left">3 € <span class="prixbarre">4.50 €  </span> </span>
    <span class="col-xs-6 text-right little">par livraison</span>
  </h4>
  <div class="resabloc text-center hidden-md hidden-lg">
    <%= render partial:"trajetpumds/partials/reservation", object: @nextpickers, as: :trajets  %>
  </div>
  <!--  -->

  <div class="row text-center pickerbloc">
    <h4 class="grey1">Picker</h4>
    <div class="row text-center pickerdetails">

<%= render "users/usermainbloc"  %>
</div>
</div>
  <div class="row text-center usertrophy">
    <h4 class="grey1">Salle des trophés</h4>
    <%= render partial:"trajetpumds/partials/listtrophys", object: @nextpickings, as: :amis  %>

  </div>

  <div class="row text-center useratings">
    <h4 class="grey1">Avis reçus</h4>
    <%= render partial:"trajetpumds/partials/listfeedbacks", object: @nextpickings, as: :amis  %>

  </div>
</div>



  <!-- Right part -->

<div class="col-md-4 text-center ">
  <!-- hide sm xs -->
  <h4 class="row blocresaheader hidden-xs hidden-sm">
    <span class="col-xs-6 text-left">3 € <span class="prixbarre">4.50 €  </span> </span>
    <span class="col-xs-6 text-right little">par livraison</span>
  </h4>
  <div class="resabloc hidden-xs hidden-sm">
    <%= render partial:"trajetpumds/partials/reservation", object: @nextpickers, as: :trajets  %>
  </div>
  <!--  -->

  <h4 class="grey1 bloctitle">Prochains picking dans ce drive</h4>
  <div class="shopnextpicking">
    <%= render partial:"trajetpumds/partials/listitem", object: @nextpickers, as: :trajets  %>
  </div>
  <h4 class="grey1 bloctitle">Prochains pickings de <%= @user.username %></h4>
  <div class="usernextpicking">
    <%= render partial:"trajetpumds/partials/listitem", object: @nextpickings, as: :trajets  %>
  </div>

</div>






  </div>
</div>
<!-- changer le format date en "demain..." -->
<script type="text/javascript">
$('.usernextpicking .delay, .shopnextpicking .delay, .details .doat, .detailsxs .doat').each(function() {
this.textContent = moment(this.textContent,'YYYY-MM-DDTHH:mm').calendar();
});
</script>
<script src="//maps.google.com/maps/api/js?v=3.exp&key=AIzaSyBngIsRw-Abk5UB04-Nl_Qg4vACEfo2jEo"></script>

<script type="text/javascript">
$(document).ready(function () {
  Valign('.trajetshow .shopname', '.trajetshow .shopmini');
  Valign('.detailsxs .doat', '.detailsxs .circlerest');
  if ($(window).width()<769){
    cenW('.trajetshow .pickerdetails .useravatarbloc img','.trajetshow .pickerdetails .useravatarbloc');
  };
  $(window).on('resize',function(){
    if ($(window).width()<769){
      cenW('.trajetshow .pickerdetails .useravatarbloc img','.trajetshow .pickerdetails .useravatarbloc');
    }else{
      $('.trajetshow .pickerdetails .useravatarbloc img').css({marginLeft:0});
    };
  });
});



var bounds;
var acts = <%= @acts %>;
var actscoord = <%= @actscoord %>;
var avatars = <%= raw @actsavatars %>;
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 8,
center: {lat: actscoord[1][0], lng: actscoord[1][1]}
});
bounds  = new google.maps.LatLngBounds();
setMarkers(map);


map.fitBounds(bounds);
}
// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.

function setMarkers(map) {
  var loc;
  <%=  @acts.count.times do |i| %>
      var image<%= i %> = {
        url: avatars[<%= i %>].replace(/&quot;/g, '\\"'),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 32),
        size: new google.maps.Size(32, 32),
      };
      var marker<%= i %> = new google.maps.Marker({
        position: {lat: actscoord[<%= i %>][0], lng: actscoord[<%= i %>][1]},
        map: map,
        icon: image<%= i %>,
      });
      loc = new google.maps.LatLng(marker<%= i %>.position.lat(), marker<%= i %>.position.lng());
      bounds.extend(loc);
  <%   end%>
};
initMap();

$(window).on('resize',function(){
initMap();
});

</script>
