<div class="container toppage newuser">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

  <div class="row">
    <h3 class="modaltitle">CONNEXION</h3>

      <div class="data_input col-md-12 text-center">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <ol class="list-unstyled">

              <li class=" col-md-12 field">
                  <%= f.text_field :username, autofocus: true, placeholder:"Pseudonyme" %>
              </li>

              <li class="col-md-12 field ">
                  <%= f.password_field :password, autocomplete: "off", placeholder:"Mot de passe" %>
              </li>

              <% if devise_mapping.rememberable? -%>
              <li class="col-md-12 field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </li>
              <% end -%>

              <li class=" actions">
                  <%= f.submit "Connexion", :class => "btn btn-o-purple" %>
              </li>
          </ol>
          <% end %>
      </div>
  </div>
  <div class=" row grey1 modallinks">
      <div class="col-xs-6 text-left">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %>
          <% end -%>
      </div>
      <div class="col-xs-6 text-right"><em class="grey2">Pas encore membre?</em>
          <a href="#" class="active" id="register-form-link" alt="onglet s'inscrire">S'inscrire</a>
      </div>
  </div>
</div>
</div>
</div>
</div>
