<div class="avatar_form moving_form">
<%=form_for resource, as: @user, url: user_path(@user),:html => {:method =>:patch, class:" user active",id:"form-sign-up"}, validate: true do |f| %>
    <%= devise_error_messages_for(@user) %>
        <%= f.hidden_field :email, value: @user.email %>
        <%= f.hidden_field :slide, value: 1 %>
    <%= image_tag(@user.avatar, class:"img-responsive profilavatar img-circle col-sm-3 col-sm-offset-1") %>
    <div class="field"><br>
      <%= f.label :avatar do %>
      <p class="text-center"><br>
      <%= f.file_field :avatar %>
      <% end %>
    </div>
  </p>
  </br>

    <%= f.submit "Enregistrer", class: "btn btn-o-purple editsubmit" %>
<% end %>
</div>
