<div class="personal_form moving_form">
<%=form_for resource, as: @user, url: user_path(@user),:html => {:method =>:patch},class:" user",id:"form-sign-up", validate: true do |f| %>
    <%= devise_error_messages_for(@user) %>
  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label "Prénom" %><br>
    <%= f.text_field :prenom %>
  </div>
  <div class="field">
    <p>Sexe:</p>
    <%=   f.radio_button :gender, "false" %>
    <%=   f.label :gender_false, "Homme" %>
    <%=   f.radio_button :gender, "true" %>
    <%=   f.label :gender_true, "Femme" %>

  </div>
  <div class="field">
    <%= f.label "Date de naissance" %><br>
    <%= f.date_select :dob, :start_year => 1900, :end_year => Time.now.year  %>
  </div>
  </br>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %></br>
    <i class="grey2">(Nécessaire pour confirmer vos changements)</i><br/>
  </br>
    <%= f.submit "Enregistrer", class: "btn btn-o-purple editsubmit" %>
<% end %>
</div>
