<div class="password_form moving_form">

<%=form_for resource, as: @user, url: user_path(@user),:html => {:method =>:patch},class:" user",id:"form-sign-up", validate: true do |f| %>
    <%= devise_error_messages_for(@user) %>
  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <div class="field">
   <%= f.label "Nouveau mot de passe" %><br />
   <%= f.password_field :password, autocomplete: "off" %>
 </div>

 <div class="field">
   <%= f.label "Confirmer le nouveau mot de passe" %><br />
   <%= f.password_field :password_confirmation, autocomplete: "off" %>
 </div>
  </br>
    <%= f.submit "Modifier", class: "btn btn-o-purple editsubmit" %>
<% end %>
</div>
